Repository Frontman-Labs/frontman, pull requests merged in 2023-04, with the labels that each got.

#88 add labeler github action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#92 add Pull Request template
  .github/pull_request_template.md
Labels: ci

#94 fix for issue 90
  gateway/gateway_test.go
  service/routing_trie.go
Labels: test

#95 Improve pull_request_template.md formatting
  .github/pull_request_template.md
Labels: ci

#98 refactor logger and tls init sequence
  .github/labeler.yml
  .github/workflows/labeler.yml
  api/api.go
  frontman.go
  log/logger.go
  log/logger_test.go
  log/zap.go
  ssl/tls.go
Labels: ci, test, repo, logger

#97 Issue 91
  README.md
  gateway/gateway.go
  gateway/gateway_test.go
  service/service.go
Labels: test, repo

#111 httpClient embedded to backend
  api/api.go
  frontman.go
  gateway/gateway.go
  gateway/gateway_test.go
  service/service.go
Labels: test
